html, body {
  min-height: 100% !important;
  height: 100%;
  margin: 0;
}

body {
background-color:#01284a;
padding: 8px;
}

button {
display: block;
margin: auto;
position: relative;
top: 40%;
padding: 10px;
font-size: 16px;
background-color: #000f1c;
border-radius: 3px;
color: white;
font-weight: bold;
cursor: pointer;
}

video {
width: 100%;
}

#videos {
display: grid;
grid-gap: 16px;
width: 100%;
grid-template-columns: 1fr 3fr;
}

#self-view {
grid-column: 1;
background-color: black;
}

#remote-view {
grid-column: 2;
background-color: black;
height: 95vh;
}